$color-A: #4997D1;
$color-B: #003A62;
$color-C: #00233d;

$cinza-A: #F2F2F2;
$cinza-B: #EBEBEB;
$cinza-C: #E6E6E6;
$cinza-D: #898989;
$cinza-E: #4A4A4A;

$cinza-base: #f0f0f0;

$vermelho-A: #D0021B;
$verde-A: #417505;
$laranja-A: #F5A623;
$laranja-B: #FB8300;