/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables';
@import './material';

html,
body{
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar:active {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: #f0f0f0;
}
 
::-webkit-scrollbar-thumb {
    background: #bbb;
}


.alinha{
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    padding: 50px 0;
}