<mat-card>
  <object class="graficoA" src="https://app.powerbi.com/view?r=eyJrIjoiYTQ1MGI2YzQtZTNhMC00MTE4LTljMjktMTU3MjllZjQzYjc3IiwidCI6IjdlZTZiYjRiLTNkNGUtNGM2NS1iZTZmLTAyY2QwYmZiODhiMiJ9"></object>
</mat-card>

<mat-card>
  <input type="range">
</mat-card>

<mat-card>
  <mat-slider></mat-slider>
</mat-card>

<mat-card></mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Expansion Panel 1
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    Conteudo
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Expansion Panel 2
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    Conteudo
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Expansion Panel 3
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    Conteudo
  </mat-expansion-panel>
</mat-accordion>

<mat-card></mat-card>