<div id="links" class="white">
  <div class="alinha">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="links__item" href="#">
          <mat-icon>airplanemode_active</mat-icon>
          <span>Airplane</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="links__item" href="#">
          <mat-icon>gamepad</mat-icon>
          <span>Gamepad</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="links__item" href="#">
          <mat-icon>security</mat-icon>
          <span>Security</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="links__item" href="#">
          <mat-icon>brightness_4</mat-icon>
          <span>Sol e Lua</span>
        </a>
      </div>
    </div>
  </div>
</div>