#links{
    .alinha{
        padding-top: 0;
    }
    .links__item{
        display: block;
        text-align: center;
        text-decoration: none;
        color: #c79739;
        padding: 20px;
        transition: all .2s ease-in-out;
        i{
            font-size: 50px;
            width: auto;
            height: auto;
            
        }
        span{
            display: block;
            text-align: center;
            font-size: 30px;
        }
    }
    .links__item:hover{
        background-color: #c79739;
        color: #fff;
    }
}