<div id="links" class="white">
  <div class="alinha">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="links__item" href="#" target="_blank">
          <i class="fa fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="links__item" href="#" target="_blank">
          <i class="fa fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="links__item" href="intent://send/+5551985227072#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
          <i class="fa fa-whatsapp"></i>
          <span>Whatsapp</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <a class="links__item" href="tel:+1 754-205-6876">
          <i class="fa fa-phone"></i>
          <span>Phone</span>
        </a>
      </div>
    </div>
  </div>
</div>