.menu{

    height: 50px;
    // box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    top:0;
    z-index: 1;

    .menu__logo{
        height: 100%;
        float: left;
        cursor: pointer;
    }

    .menu__actions{
        float: right;
        height: 100%;
        line-height: 50px;
        padding-right: 7px;
    }

}