<!-- <div parallax class="some-parallax" style="background-image:url(./assets/images/parallax1.jpg)">
    <div class="dot">
        <div class="alinha">

        </div>
    </div>
</div> -->

<div id="quemsomos" class="bgParallax" style="background-image:url(./assets/images/parallax1.jpg)" data-speed="15">
    <article>
        <h1>That show's called a pilot.</h1>
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the
            people who make shows, and on the strength of that one show they decide if they're going to make more shows.
            Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the
            ones that became nothing. </p>
    </article>
</div>