.inicial-a{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;

    @keyframes logo {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .logo{
        height: 400px;
        width: 500px;
        max-width: 90%;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%)!important;
        animation: logo 2s ease-in-out;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
}